JWT_SECRET=AUTO
SESSION_SALT=AUTO
DB_URL=
OPENAI_API_KEY=
OPENAI_API_BASE=
REDIS_URL=redis://default:@localhost:6379
SUPABASE_URL=https://example.supabase.co
SUPABASE_ANON_KEY=public-anon
POSTHOG_API_KEY=phc_demo
OPT_OUT_URL=https://sp1rl-o-s.com/opt-out
# Netlify
NETLIFY_AUTH_TOKEN=
NETLIFY_SITE_ID=
